extends ../layout

block content
   h2(class="ls-title") PAdES Signature using Amplia with PKI Express
   h5(class="ls-subtitle") 
      | File signed successfully! 
      i(class="fas fa-check-circle text-success")

   div(class="ls-content")

      p
         | Signer information:
         ul
            li Subject: #{signer.subjectName.commonName}
            li Email: #{signer.emailAddress}
            li ICP-Brasil fields
               ul
                  li Tipo de certificado: #{signer.pkiBrazil.certificateType}
                  li CPF: #{signer.pkiBrazil.cpfFormatted}
                  li Responsavel: #{signer.pkiBrazil.responsavel}
                  li Empresa: #{signer.pkiBrazil.companyName}
                  li CNPJ: #{signer.pkiBrazil.cnpjFormatted}
                  li RG: #{signer.pkiBrazil.rgNumero} #{signer.pkiBrazil.rgEmissor} #{signer.pkiBrazil.rgEmissorUF}
                  li OAB: #{signer.pkiBrazil.oabNumero} #{signer.pkiBrazil.oabUF}

      h3 Actions:
      ul
         li
            a(href=`/download?fileId=${signedPdf}`, target='_blank') Download the signed file
         li
            a(href=`printer-version-pades-express?fileId=${signedPdf}`, target='_blank') Download a printer-friendly version of the signed file
         li
            a(href=`/timestamp-pdf-express?fileId=${signedPdf}`) Download a timestamped version of the signed file
         li
            a(href=`/open-pades-express?fileId=${signedPdf}`) Open/validate the signed file
         li
            a(href=`/pades-signature-express?fileId=${signedPdf}`) Co-sign with another certificate