<h2>Authentication successful</h2>

<p>
  User certificate information:
<ul>
  <li>Subject: <%= @user_cert.subjectName.commonName %> </li>
  <li>Email: <%= @user_cert.emailAddress %></li>
  <li>
    ICP-Brasil fields
    <ul>
      <li>Tipo de certificado: <%= @user_cert.pkiBrazil.certificateType %></li>
      <li>CPF: <%= @user_cert.pkiBrazil.cpf %></li>
      <li>Responsavel: <%= @user_cert.pkiBrazil.responsavel %></li>
      <li>Empresa: <%= @user_cert.pkiBrazil.companyName %></li>
      <li>CNPJ: <%= @user_cert.pkiBrazil.cnpj %> </li>
      <li>RG: <%= "#{@user_cert.pkiBrazil.rgNumero} #{@user_cert.pkiBrazil.rgEmissor} #{@user_cert.pkiBrazil.rgEmissorUF}" %></li>
      <li>OAB: <%= "#{@user_cert.pkiBrazil.oabNumero} #{@user_cert.pkiBrazil.oabUF}" %></li>
    </ul>
  </li>
</ul>
</p>