<h2 class="ls-title">Authentication with REST PKI</h2>
<h5 class="ls-subtitle">Authentication success <i class="fas fa-check-circle text-success"></i></h5>

<div class="ls-content">
  <p>
    User certificate information:
    <ul>
      <li><strong>Subject</strong>: <%= @user_cert.subjectName.commonName %> </li>
      <li><strong>Email</strong>: <%= @user_cert.emailAddress %></li>
      <li>
        <strong>ICP-Brasil fields</strong>:
        <ul>
          <li><strong>Tipo de certificado</strong>: <%= @user_cert.pkiBrazil.certificateType %></li>
          <li><strong>CPF</strong>: <%= @user_cert.pkiBrazil.cpf %></li>
          <li><strong>Responsavel</strong>: <%= @user_cert.pkiBrazil.responsavel %></li>
          <li><strong>Empresa</strong>: <%= @user_cert.pkiBrazil.companyName %></li>
          <li><strong>CNPJ</strong>: <%= @user_cert.pkiBrazil.cnpj %> </li>
          <li><strong>RG</strong>: <%= "#{@user_cert.pkiBrazil.rgNumero} #{@user_cert.pkiBrazil.rgEmissor} #{@user_cert.pkiBrazil.rgEmissorUF}" %></li>
          <li><strong>OAB</strong>: <%= "#{@user_cert.pkiBrazil.oabNumero} #{@user_cert.pkiBrazil.oabUF}" %></li>
        </ul>
      </li>
    </ul>
  </p>
</div>