@using PkiSuiteAspNetMvcSample.Models
@model MergeServerFilesModel

	<h2 class="ls-title">Choose one of the avaliable merge combinations</h2>

<p>You will be redirected to @Model.ReturnController</p>
<p>All CMS/CAdES Signatures are related to <a href="@string.Format("/Download/Sample/{0}", Model.DataFile)">this file</a>.</p>
@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "filesForm", @role = "form" })) {
	@Html.HiddenFor(m => m.ReturnController)
	@Html.HiddenFor(m => m.DataFile)
	@Html.HiddenFor(m => m.ChosenCombination, new { @id = "chosenCombination" })
   
	<div class="form-group">
		<div class="row">
			@for (int index = 0; index < Model.AvailableFiles.Length; index++) {
				var file = Model.AvailableFiles[index];

				<div class="col-md-3">
					<div class="card">
						<div class="card-header"><b>Merge Option #@(index + 1)</b></div>
						<div class="card-body">
							<p style="font-size: 13px;">
								@file.Description
							</p>
							<p style="font-size: 13px;">
								This sample consists of <a href="@string.Format("/Download/Sample/{0}", file.File1)"> this file </a> and <a href="@string.Format("/Download/Sample/{0}", file.File2)"> this file </a>.
							</p>
						</div>
						<div class="card-footer">

							<button id="@index" type="button" class="use-file btn btn-primary" style="font-size: 14px;"><i class="fas fa-hand-point-down"></i> Use This</button>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
}

@section Scripts {

	<script>
		$(document).ready(function () {
			$('.use-file').click(function (e) {
				$('#chosenCombination').val(this.id);
				$('#filesForm').submit();
			});
		});
	</script>

}
