@using PkiSuiteAspNetMvcSample.Controllers
@using PkiSuiteAspNetMvcSample.Models.RestPki
@model OpenXmlSignatureModel

<h2>Open/validate signatures on an existing XML using REST PKI</h2>

<h5>The given file contains @Model.Signatures.Count signatures:</h5>

<div id="accordion">

	@for (var i = 0; i < Model.Signatures.Count; i++) {

		var signature = Model.Signatures[i];
		var collapseId = string.Format("signer_{0}_collapse", i);
		var headingId = string.Format("signer_{0}_heading", i);

		<div class="card">
			<div class="card-header open-header" id="@headingId">
				<a class="collapsed" role="button" data-toggle="collapse" href="#@collapseId" aria-expanded="true" aria-controls="@collapseId">@signature.Certificate.SubjectName.CommonName</a>
				@if (signature.ValidationResults != null) {
					<span> </span>
					if (signature.ValidationResults.IsValid) {
						<span class="badge badge-success">valid</span>
					}
					else {
						<span class="badge badge-danger">invalid</span>
					}
				}
			</div>
			<div id="@collapseId" class="collapse" role="tabpanel" aria-labelledby="@headingId" data-parent="#accordion" >
				<div class="card-body">
					<p>Type: @signature.Type</p>
					@if (signature.SignedElement != null) {
						<p>
							Signed element: @signature.SignedElement.LocalName
							@if (!string.IsNullOrEmpty(signature.SignedElement.NameSpaceUri)) {
								<text>(xmlns: @signature.SignedElement.NameSpaceUri)</text>
							}
						</p>
					}
					@if (signature.SigningTime != null) {
						<p>
							Signing time: @TimeZoneInfo.ConvertTime(signature.SigningTime.Value, PrinterFriendlyPadesRestPkiController.TimeZone).ToString(PrinterFriendlyPadesRestPkiController.DateFormat, PrinterFriendlyPadesRestPkiController.CultureInfo)
							(@PrinterFriendlyPadesRestPkiController.TimeZoneDisplayName)
						</p>
					}
					@if (signature.SignaturePolicy != null) {
						<p>Signature policy: @signature.SignaturePolicy.Oid</p>
					}
					<p>
						Signer information:
						<ul>
							<li>Subject: @signature.Certificate.SubjectName.CommonName</li>
							<li>Email: @signature.Certificate.EmailAddress</li>
							<li>
								ICP-Brasil fields
								<ul>
									<li>Tipo de certificado: @signature.Certificate.PkiBrazil.CertificateType</li>
									<li>CPF: @signature.Certificate.PkiBrazil.Cpf</li>
									<li>Responsavel: @signature.Certificate.PkiBrazil.Responsavel</li>
									<li>Empresa: @signature.Certificate.PkiBrazil.CompanyName</li>
									<li>CNPJ: @signature.Certificate.PkiBrazil.Cnpj</li>
									<li>RG: @signature.Certificate.PkiBrazil.RGNumero @signature.Certificate.PkiBrazil.RGEmissor @signature.Certificate.PkiBrazil.RGEmissorUF</li>
									<li>OAB: @signature.Certificate.PkiBrazil.OabNumero @signature.Certificate.PkiBrazil.OabUF</li>
								</ul>
							</li>
						</ul>
					</p>
					@if (signature.ValidationResults != null) {
						<p>
							Validation results:<br />
							<textarea style="width: 100%" rows="20">@signature.ValidationResults.ToString()</textarea>
						</p>
					}
				</div>
			</div>
		</div>
	}
</div>