@using PkiSuiteAspNetMvcSample.Models.Pki
@model AuthenticationModel

<h2 class="ls-title">Authentication with PKI SDK</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "authForm", role = "form" })) {
	@Html.ValidationSummary("", new { @class = "text-danger" })

	@*
		Hidden fields used to pass data from the action to the "signature form" javascript (see below) and
		vice-versa.
	*@
	@Html.HiddenFor(m => m.CertificateBase64, new { id = "certificateField" })
	@Html.HiddenFor(m => m.NonceBase64, new { id = "nonceField" })
	@Html.HiddenFor(m => m.DigestAlgorithm, new { id = "digestAlgorithmField" })
	@Html.HiddenFor(m => m.SignatureBase64, new { id = "signatureField" })

	<div class="form-group">
		<label for="certificateSelect">Choose a certificate</label>
		<select id="certificateSelect" class="form-control"></select>
	</div>

	<button id="signInButton" type="button" class="btn btn-primary">Sign In</button>
	<button id="refreshButton" type="button" class="btn btn-outline-primary">Refresh Certificates</button>
}


@section Scripts {


	@*
		The file below contains the JS lib for accessing the Web PKI component. For more information, see:
		https://webpki.lacunasoftware.com/#/Documentation
	*@
	<script src="@Url.Content("~/Content/js/lacuna-web-pki-2.11.0.js")"></script>

	@*
		The file below contains the logic for calling the Web PKI component. It is only an example, feel
		free to alter it to meet your application's needs. You can also bring the code into the javascript
		block below if you prefer.
	*@
	<script src="@Url.Content("~/Content/js/authentication-form.js")"></script>
	<script>
		$(document).ready(function () {
			// Once the page is ready, we call the init() function on the javascript code
			// (see authentication-form.js).
			authenticationForm.init({
				form: $('#authForm'),                             // The form that should be submitted when the operation is completed.
				certificateSelect: $('#certificateSelect'),       // The <select> element (combo box) to list the certificates.
				signInButton: $('#signInButton'),                 // The button "Sign In" that initiates the operation.
				refreshButton: $('#refreshButton'),               // The "refresh" button.
				certificateField: $('#certificateField'),         // The "certificate" content.
				nonceField: $('#nonceField'),                     // The "nonce" to be signed.
				digestAlgorithmField: $('#digestAlgorithmField'), // The "digest algorithm" to be used on the signature.
				signatureField: $('#signatureField')              // The "signature" computed.
			});
		});
	</script>
}
