extends ../layout

block content

	h2(class='ls-title') Authentication with REST PKI

	h5
		| Authentication succeded&nbsp;
		i(class='fas fa-check-circle', style='color: green;')

	p
		| User certificate information:
		ul
			li Subject: #{userCert.subjectName.commonName}
			li Email: #{userCert.emailAddress}
			li ICP-Brasil fields
				ul
					li Tipo de certificado: #{userCert.pkiBrazil.certificateType}
					li CPF: #{userCert.pkiBrazil.cpfFormatted}
					li Responsavel: #{userCert.pkiBrazil.responsavel}
					li Empresa: #{userCert.pkiBrazil.companyName}
					li CNPJ: #{userCert.pkiBrazil.cnpjFormatted}
					li RG: #{userCert.pkiBrazil.rgNumero} #{userCert.pkiBrazil.rgEmissor} #{userCert.pkiBrazil.rgEmissorUF}
					li OAB: #{userCert.pkiBrazil.oabNumero} #{userCert.pkiBrazil.oabUF}