@using PkiSuiteAspNetMvcSample.Classes
@using Lacuna.Pki.Xml
@model List<XmlSignature>

<h2>Open/validate signatures on an existing XML file</h2>

<h3>The given file contains @Model.Count signatures:</h3>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

	@for (var i = 0; i < Model.Count; i++) {

		var signature = Model[i];
		var vr = signature.Validate(XmlPolicySpec.GetXmlDSigBasic(Util.GetTrustArbitrator()));
		var collapseId = string.Format("signer_{0}_collapse", i);
		var headingId = string.Format("signer_{0}_heading", i);

		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="@headingId">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#@collapseId" aria-expanded="true" aria-controls="@collapseId">
						@signature.SigningCertificate.SubjectName.CommonName
						-
						<span style="color: @(vr.IsValid ? "green" : "red"); font-weight: bold;">
							@(vr.IsValid ? "valid" : "invalid")
						</span>
					</a>
				</h4>
			</div>
			<div id="@collapseId" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@headingId">
				<div class="panel-body">
					<p>Type: @signature.SignedEntityType</p>
					@if (signature.SignedElement != null) {
						<p>
							Signed element: @signature.SignedElement.LocalName
							@if (!string.IsNullOrEmpty(signature.SignedElement.NamespaceURI)) {
								<text>(xmlns: @signature.SignedElement.NamespaceURI)</text>
							}
						</p>
					}
					<p>Signing time: @signature.SigningTime</p>
					@if (signature.PolicyIdentifier != null) {
						<p>Signature policy: @signature.PolicyIdentifier.SigPolicyId</p>
					}
					<p>
						Signer information:
						<ul>
							<li>Subject: @signature.SigningCertificate.SubjectName.CommonName</li>
							<li>Email: @signature.SigningCertificate.EmailAddress</li>
							<li>
								ICP-Brasil fields
								<ul>
									<li>Tipo de certificado: @signature.SigningCertificate.PkiBrazil.CertificateType</li>
									<li>CPF: @signature.SigningCertificate.PkiBrazil.CPF</li>
									<li>Responsavel: @signature.SigningCertificate.PkiBrazil.Responsavel</li>
									<li>Empresa: @signature.SigningCertificate.PkiBrazil.CompanyName</li>
									<li>CNPJ: @signature.SigningCertificate.PkiBrazil.Cnpj</li>
									<li>RG: @signature.SigningCertificate.PkiBrazil.RGNumero @signature.SigningCertificate.PkiBrazil.RGEmissor @signature.SigningCertificate.PkiBrazil.RGEmissorUF</li>
									<li>OAB: @signature.SigningCertificate.PkiBrazil.OabNumero @signature.SigningCertificate.PkiBrazil.OabUF</li>
								</ul>
							</li>
						</ul>
					</p>
					<p>
						Validation results:<br />
						<textarea style="width: 100%" rows="20">@vr.ToString()</textarea>
					</p>
				</div>
			</div>
		</div>
	}
</div>